{% extends "base.html" %}


<body>
{% block body %}
    {{ super() }}

    {% block moviecard %}
        {% block maindiv %}
            <div class="main">
                {% block headtext %}
                    <h1 style="text-align: center; margin-bottom: 4%; font-size: 50px;">Review your favourite
                        movies!</h1>
                {% endblock %}


                {% for movie in movies %}
                    <div class="movie-card">
                        <a href="{{ url_for("movie_review", movie_id=movie.id) }}" class="movie-card-link">
                            <figure>
                                <img class="cover-img"
                                     src="{{ movie.poster }}"
                                     alt="">
                                <figcaption>
          <span class="star">
            <img src="https://m.media-amazon.com/images/G/01/imdb/images/plugins/imdb_star_22x21-2889147855._CB470047273_.png">
          </span>
                                    <h2 class="rating">{{ movie.imdb }} | {{ movie.rotten_tomatoes }}</h2>
                                    <h3 class="genre">{{ movie.genre }}</h3>
                                    <span class="btn-view-details">View Details</span>
                                </figcaption>
                            </figure>
                        </a>
                    </div>
                {% endfor %}


                <div class="movie-card">
                    <a href="" class="movie-card-link">
                        <figure>
                            <img class="cover-img"
                                 src="https://yts.am/assets/images/movies/the_last_castle_2001/medium-cover.jpg"
                                 alt="">
                            <figcaption>
          <span class="star">
            <img src="https://m.media-amazon.com/images/G/01/imdb/images/plugins/imdb_star_22x21-2889147855._CB470047273_.png">
          </span>
                                <h2 class="rating">7.5 / 10</h2>
                                <h3 class="genre">Horror</h3>
                                <h3 class="genre">Drama</h3>
                                <span class="btn-view-details">View Details</span>
                            </figcaption>
                        </figure>
                    </a>
                </div>

                <div class="movie-card">
                    <a href="" class="movie-card-link">
                        <figure>
                            <img class="cover-img"
                                 src="https://yts.am/assets/images/movies/the_crucifixion_2017/medium-cover.jpg"
                                 alt="">
                            <figcaption>
          <span class="star">
            <img src="https://m.media-amazon.com/images/G/01/imdb/images/plugins/imdb_star_22x21-2889147855._CB470047273_.png">
          </span>
                                <h2 class="rating">7.5 / 10</h2>
                                <h3 class="genre">Horror</h3>
                                <h3 class="genre">Drama</h3>
                                <span class="btn-view-details">View Details</span>
                            </figcaption>
                        </figure>
                    </a>
                </div>

                <div class="movie-card">
                    <a href="" class="movie-card-link">
                        <figure>
                            <img class="cover-img"
                                 src="https://yts.am/assets/images/movies/the_after_party_2018/medium-cover.jpg"
                                 alt="">
                            <figcaption>
          <span class="star">
            <img src="https://m.media-amazon.com/images/G/01/imdb/images/plugins/imdb_star_22x21-2889147855._CB470047273_.png">
          </span>
                                <h2 class="rating">7.5 / 10</h2>
                                <h3 class="genre">Horror</h3>
                                <h3 class="genre">Drama</h3>
                                <span class="btn-view-details">View Details</span>
                            </figcaption>
                        </figure>
                    </a>
                </div>

                <div class="movie-card">
                    <a href="" class="movie-card-link">
                        <figure>
                            <img class="cover-img"
                                 src="https://yts.am/assets/images/movies/the_last_castle_2001/medium-cover.jpg"
                                 alt="">
                            <figcaption>
          <span class="star">
            <img src="https://m.media-amazon.com/images/G/01/imdb/images/plugins/imdb_star_22x21-2889147855._CB470047273_.png">
          </span>
                                <h2 class="rating">7.5 / 10</h2>
                                <h3 class="genre">Horror</h3>
                                <h3 class="genre">Drama</h3>
                                <span class="btn-view-details">View Details</span>
                            </figcaption>
                        </figure>
                    </a>
                </div>

                <div class="movie-card">
                    <a href="" class="movie-card-link">
                        <figure>
                            <img class="cover-img"
                                 src="https://yts.am/assets/images/movies/the_last_castle_2001/medium-cover.jpg"
                                 alt="">
                            <figcaption>
          <span class="star">
            <img src="https://m.media-amazon.com/images/G/01/imdb/images/plugins/imdb_star_22x21-2889147855._CB470047273_.png">
          </span>
                                <h2 class="rating">7.5 / 10</h2>
                                <h3 class="genre">Horror</h3>
                                <h3 class="genre">Drama</h3>
                                <span class="btn-view-details">View Details</span>
                            </figcaption>
                        </figure>
                    </a>
                </div>

                <div class="movie-card">
                    <a href="" class="movie-card-link">
                        <figure>
                            <img class="cover-img"
                                 src="https://yts.am/assets/images/movies/the_last_castle_2001/medium-cover.jpg"
                                 alt="">
                            <figcaption>
          <span class="star">
            <img src="https://m.media-amazon.com/images/G/01/imdb/images/plugins/imdb_star_22x21-2889147855._CB470047273_.png">
          </span>
                                <h2 class="rating">7.5 / 10</h2>
                                <h3 class="genre">Horror</h3>
                                <h3 class="genre">Drama</h3>
                                <span class="btn-view-details">View Details</span>
                            </figcaption>
                        </figure>
                    </a>
                </div>


                <div class="movie-card">
                    <a href="" class="movie-card-link">
                        <figure>
                            <img class="cover-img"
                                 src="https://yts.am/assets/images/movies/the_last_castle_2001/medium-cover.jpg"
                                 alt="">
                            <figcaption>
          <span class="star">
            <img src="https://m.media-amazon.com/images/G/01/imdb/images/plugins/imdb_star_22x21-2889147855._CB470047273_.png">
          </span>
                                <h2 class="rating">7.5 / 10</h2>
                                <h3 class="genre">Horror</h3>
                                <h3 class="genre">Drama</h3>
                                <span class="btn-view-details">View Details</span>
                            </figcaption>
                        </figure>
                    </a>
                </div>

                <div class="movie-card">
                    <a href="" class="movie-card-link">
                        <figure>
                            <img class="cover-img"
                                 src="https://yts.am/assets/images/movies/the_last_castle_2001/medium-cover.jpg"
                                 alt="">
                            <figcaption>
          <span class="star">
            <img src="https://m.media-amazon.com/images/G/01/imdb/images/plugins/imdb_star_22x21-2889147855._CB470047273_.png">
          </span>
                                <h2 class="rating">7.5 / 10</h2>
                                <h3 class="genre">Horror</h3>
                                <h3 class="genre">Drama</h3>
                                <span class="btn-view-details">View Details</span>
                            </figcaption>
                        </figure>
                    </a>
                </div>


                <div class="movie-card">
                    <a href="" class="movie-card-link">
                        <figure>
                            <img class="cover-img"
                                 src="https://yts.am/assets/images/movies/the_last_castle_2001/medium-cover.jpg"
                                 alt="">
                            <figcaption>
          <span class="star">
            <img src="https://m.media-amazon.com/images/G/01/imdb/images/plugins/imdb_star_22x21-2889147855._CB470047273_.png">
          </span>
                                <h2 class="rating">7.5 / 10</h2>
                                <h3 class="genre">Horror</h3>
                                <h3 class="genre">Drama</h3>
                                <span class="btn-view-details">View Details</span>
                            </figcaption>
                        </figure>
                    </a>
                </div>

                <div class="movie-card">
                    <a href="" class="movie-card-link">
                        <figure>
                            <img class="cover-img"
                                 src="https://yts.am/assets/images/movies/the_last_castle_2001/medium-cover.jpg"
                                 alt="">
                            <figcaption>
          <span class="star">
            <img src="https://m.media-amazon.com/images/G/01/imdb/images/plugins/imdb_star_22x21-2889147855._CB470047273_.png">
          </span>
                                <h2 class="rating">7.5 / 10</h2>
                                <h3 class="genre">Horror</h3>
                                <h3 class="genre">Drama</h3>
                                <span class="btn-view-details">View Details</span>
                            </figcaption>
                        </figure>
                    </a>
                </div>

                <div class="movie-card">
                    <a href="" class="movie-card-link">
                        <figure>
                            <img class="cover-img"
                                 src="https://yts.am/assets/images/movies/the_last_castle_2001/medium-cover.jpg"
                                 alt="">
                            <figcaption>
          <span class="star">
            <img src="https://m.media-amazon.com/images/G/01/imdb/images/plugins/imdb_star_22x21-2889147855._CB470047273_.png">
          </span>
                                <h2 class="rating">7.5 / 10</h2>
                                <h3 class="genre">Horror</h3>
                                <h3 class="genre">Drama</h3>
                                <span class="btn-view-details">View Details</span>
                            </figcaption>
                        </figure>
                    </a>
                </div>

                <div class="movie-card">
                    <a href="" class="movie-card-link">
                        <figure>
                            <img class="cover-img"
                                 src="https://yts.am/assets/images/movies/the_last_castle_2001/medium-cover.jpg"
                                 alt="">
                            <figcaption>
          <span class="star">
            <img src="https://m.media-amazon.com/images/G/01/imdb/images/plugins/imdb_star_22x21-2889147855._CB470047273_.png">
          </span>
                                <h2 class="rating">7.5 / 10</h2>
                                <h3 class="genre">Horror</h3>
                                <h3 class="genre">Drama</h3>
                                <span class="btn-view-details">View Details</span>
                            </figcaption>
                        </figure>
                    </a>
                </div>

                <div class="movie-card">
                    <a href="" class="movie-card-link">
                        <figure>
                            <img class="cover-img"
                                 src="https://yts.am/assets/images/movies/the_last_castle_2001/medium-cover.jpg"
                                 alt="">
                            <figcaption>
          <span class="star">
            <img src="https://m.media-amazon.com/images/G/01/imdb/images/plugins/imdb_star_22x21-2889147855._CB470047273_.png">
          </span>
                                <h2 class="rating">7.5 / 10</h2>
                                <h3 class="genre">Horror</h3>
                                <h3 class="genre">Drama</h3>
                                <span class="btn-view-details">View Details</span>
                            </figcaption>
                        </figure>
                    </a>
                </div>

            </div>
        {% endblock %}
    {% endblock %}
{% endblock %}
</body>
