{% extends "base.html" %}


<body>
{% block body %}
    {{ super() }}

    {% block moviecard %}
        {% block maindiv %}
            <div class="main" id="movielist">
                {% block headtext %}
                    <h1 style="text-align: center; margin-bottom: 4%; font-size: 50px;">Movies</h1>
                {% endblock %}


                {#                {% for movie in movies %}#}
                {#                    <div class="movie-card">#}
                {#                            <figure>#}
                {#                                <img class="cover-img"#}
                {#                                     src="{{ movie.poster }}"#}
                {#                                     alt="">#}
                {#                                <figcaption>#}
                {#          <span class="star">#}
                {#            <img src="https://m.media-amazon.com/images/G/01/imdb/images/plugins/imdb_star_22x21-2889147855._CB470047273_.png">#}
                {#          </span>#}
                {#                                    <h2 class="rating">{{ movie.title }}</h2>#}
                {#                                    <h3 class="genre">{{ movie.year }}</h3>#}
                {#                                    <span class="btn-view-details">View Details</span>#}
                {#                                </figcaption>#}
                {#                            </figure>#}
                {#                        </a>#}
                {#                    </div>#}
                {#                {% endfor %}#}
            </div>
        {% endblock %}
    {% endblock %}
{% endblock %}
</body>