@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
html, body{
  height: 100%;
}
body{
  background: #fffe7a;
  color: #888;
  font-family: 'Source Sans Pro', sans-serif;
}
.container{
  max-width: 390px;
  min-width:300px;
  height: auto;
  margin: 50px auto 0;
}
.section{
  width: 390px;
  height: auto !important;
  background: #fff;
  border-radius: 10px;
  padding: 20px;
  margin-top:10px;
  margin-bottom:10px;
  box-shadow: 0px 3px 3px;
  display: inline-block;
  box-sizing: border-box;
}
@for $i from 1 through 100{
  .section#{$i}{
    width: 390px;
    height: auto !important;
    background: #fff;
    border-radius: 10px;
    padding: 20px;
    margin-top:10px;
    margin-bottom:10px;
    box-shadow: 0px 3px 3px;
    display: inline-block;
    box-sizing: border-box;
  }
}
.poster{
  width: 86px;
  height: 130px;
  background: url('https://images-na.ssl-images-amazon.com/images/I/510UnoVKVZL._AC_UL130_.jpg');
  float: left;
  margin-right: 10px;
}
.info{
  width:100%;
  height: auto;
  float:left;
  padding-bottom: 20px;
  border-bottom: 1px solid #ccc;
}
.movie-text{
  line-height: 1.5;
  float:left;
  position: relative;
  width:150px;
  height: 130px;
  font-size: 0.8em;
}
.title{
  font-size: 1.5em;
  font-weight: bold;
}
.rating{
  width: 100px;
  height: 130px;
  float: left;
  text-align: center;
  font-size: 1.3em;
}
.grade{
  width: 80px;
  height: 80px;
  font-size: 4em;
  font-weight: bold;
  color: green;
  border: 2px solid green;
  border-radius: 8px;
  margin: 0 auto 0;
  line-height: 0.9;
}
.fa{
  padding:10px;
  color: #ccc;
}
a:visited, a:link, a:active{
  text-decoration: none;
  color: #ccc;
}
.fa-thumbs-up a, .fa-thumbs-down a{
  text-decoration: none;
}
.fa-thumbs-up:hover{
  color: green;
  text-decoration: none;
}
.fa-thumbs-down:hover{
  color: red;
  text-decoration: none;
}
h3{
  font-size: 1em;
}
.reviews{
  width:100%;
  height:auto;
  margin: 20px auto 0px;
  float:left
}
input{
  margin-bottom:10px;
  margin-top:10px;
}
#name::placeholder{
  color: #ccc;
}
#review::placeholder{
  color: #ccc;
}
button{
  margin-top:10px;
}
.avatar{
  font-size: 2em;
  width:50px;
  height:100%;
  float: left;
  margin-right:10px;
}
.name{
  font-weight: bold;
}
.date{
  font-size: 0.8em;
}
.msg-content{
  width: 300px;
  height: 100px;
}
.comment{
  width: 100%;
  word-break:break-all;
  margin-top: 10px;
}